In [57]:
import pandas as pd
import hashlib
import math
df = pd.read_csv('Student_Marks.csv')

In [58]:
print(df.to_string())

    number_courses  time_study   Marks
0                3       4.508  19.202
1                4       0.096   7.734
2                4       3.133  13.811
3                6       7.909  53.018
4                8       7.811  55.299
5                6       3.211  17.822
6                3       6.063  29.889
7                5       3.413  17.264
8                4       4.410  20.348
9                3       6.173  30.862
10               3       7.353  42.036
11               7       0.423  12.132
12               7       4.218  24.318
13               3       4.274  17.672
14               3       2.908  11.397
15               4       4.260  19.466
16               5       5.719  30.548
17               8       6.080  38.490
18               6       7.711  50.986
19               8       3.977  25.133
20               4       4.733  22.073
21               6       6.126  35.939
22               5       2.051  12.209
23               7       4.875  28.043
24               4       3.635  16.517
25               3       1.407   6.623
26               7       0.508  12.647
27               8       4.378  26.532
28               5       0.156   9.333
29               4       1.299   8.837
30               8       3.864  24.172
31               3       1.923   8.100
32               8       0.932  15.038
33               6       6.594  39.965
34               3       4.083  17.171
35               3       7.543  43.978
36               4       2.966  13.119
37               6       7.283  46.453
38               7       6.533  41.358
39               6       7.775  51.142
40               4       0.140   7.336
41               6       2.754  15.725
42               6       3.591  19.771
43               5       1.557  10.429
44               4       1.954   9.742
45               3       2.061   8.924
46               4       3.797  16.703
47               4       4.779  22.701
48               3       5.635  26.882
49               5       3.913  19.106
50               6       6.703  40.602
51               6       4.130  22.184
52               4       0.771   7.892
53               7       6.049  36.653
54               8       7.591  53.158
55               7       2.913  18.238
56               8       7.641  53.359
57               7       7.649  51.583
58               3       6.198  31.236
59               8       7.468  51.343
60               6       0.376  10.522
61               4       2.438  10.844
62               6       3.606  19.590
63               3       4.869  21.379
64               7       0.130  12.591
65               6       2.142  13.562
66               4       5.473  27.569
67               3       0.550   6.185
68               4       1.395   8.920
69               6       3.948  21.400
70               4       3.736  16.606
71               5       2.518  13.416
72               3       4.633  20.398
73               3       1.629   7.014
74               4       6.954  39.952
75               3       0.803   6.217
76               5       6.379  36.746
77               8       5.985  38.278
78               7       7.451  49.544
79               3       0.805   6.349
80               7       7.957  54.321
81               8       2.262  17.705
82               4       7.410  44.099
83               5       3.197  16.106
84               8       1.982  16.461
85               8       6.201  39.957
86               7       4.067  23.149
87               3       1.033   6.053
88               5       1.803  11.253
89               7       6.376  40.024
90               7       4.182  24.394
91               8       2.730  19.564
92               4       5.027  23.916
93               8       6.471  42.426
94               8       3.919  24.451
95               6       3.561  19.128
96               3       0.301   5.609
97               4       7.163  41.444
98               7       0.309  12.027
99               3       6.335  32.357

In [59]:
import pandas as pd
df = pd.read_csv('Student_Marks.csv', index_col=0).reset_index(drop=True)
print(df.shape)

(100, 2)

In [60]:
df = df.sample(10).reset_index(drop=True).copy()
print(df)

   time_study   Marks
0       3.948  21.400
1       1.407   6.623
2       0.771   7.892
3       2.518  13.416
4       4.410  20.348
5       7.543  43.978
6       2.438  10.844
7       2.051  12.209
8       7.283  46.453
9       2.908  11.397

In [61]:
print(df.sample())

   time_study   Marks
5       7.543  43.978

In [62]:
csv_file_path = "Student_Marks.csv"

df = pd.read_csv(csv_file_path)

In [63]:
exclude_columns = ["number_courses", "time_study","Marks"]

In [64]:
for index, row in df.iterrows():
    for column in df.columns:
        if column not in exclude_columns:
            value = str(row[column])
            hashed_value = hashlib.sha256(value.encode()).hexdigest()
            df.at[index, column] = hashed_value

In [65]:
hashed_file_path = "hashed_data.csv"
df.to_csv(hashed_file_path, index=False)

In [66]:
dh = pd.read_csv('hashed_data.csv')

In [67]:
print(dh.to_string())

    number_courses  time_study   Marks
0                3       4.508  19.202
1                4       0.096   7.734
2                4       3.133  13.811
3                6       7.909  53.018
4                8       7.811  55.299
5                6       3.211  17.822
6                3       6.063  29.889
7                5       3.413  17.264
8                4       4.410  20.348
9                3       6.173  30.862
10               3       7.353  42.036
11               7       0.423  12.132
12               7       4.218  24.318
13               3       4.274  17.672
14               3       2.908  11.397
15               4       4.260  19.466
16               5       5.719  30.548
17               8       6.080  38.490
18               6       7.711  50.986
19               8       3.977  25.133
20               4       4.733  22.073
21               6       6.126  35.939
22               5       2.051  12.209
23               7       4.875  28.043
24               4       3.635  16.517
25               3       1.407   6.623
26               7       0.508  12.647
27               8       4.378  26.532
28               5       0.156   9.333
29               4       1.299   8.837
30               8       3.864  24.172
31               3       1.923   8.100
32               8       0.932  15.038
33               6       6.594  39.965
34               3       4.083  17.171
35               3       7.543  43.978
36               4       2.966  13.119
37               6       7.283  46.453
38               7       6.533  41.358
39               6       7.775  51.142
40               4       0.140   7.336
41               6       2.754  15.725
42               6       3.591  19.771
43               5       1.557  10.429
44               4       1.954   9.742
45               3       2.061   8.924
46               4       3.797  16.703
47               4       4.779  22.701
48               3       5.635  26.882
49               5       3.913  19.106
50               6       6.703  40.602
51               6       4.130  22.184
52               4       0.771   7.892
53               7       6.049  36.653
54               8       7.591  53.158
55               7       2.913  18.238
56               8       7.641  53.359
57               7       7.649  51.583
58               3       6.198  31.236
59               8       7.468  51.343
60               6       0.376  10.522
61               4       2.438  10.844
62               6       3.606  19.590
63               3       4.869  21.379
64               7       0.130  12.591
65               6       2.142  13.562
66               4       5.473  27.569
67               3       0.550   6.185
68               4       1.395   8.920
69               6       3.948  21.400
70               4       3.736  16.606
71               5       2.518  13.416
72               3       4.633  20.398
73               3       1.629   7.014
74               4       6.954  39.952
75               3       0.803   6.217
76               5       6.379  36.746
77               8       5.985  38.278
78               7       7.451  49.544
79               3       0.805   6.349
80               7       7.957  54.321
81               8       2.262  17.705
82               4       7.410  44.099
83               5       3.197  16.106
84               8       1.982  16.461
85               8       6.201  39.957
86               7       4.067  23.149
87               3       1.033   6.053
88               5       1.803  11.253
89               7       6.376  40.024
90               7       4.182  24.394
91               8       2.730  19.564
92               4       5.027  23.916
93               8       6.471  42.426
94               8       3.919  24.451
95               6       3.561  19.128
96               3       0.301   5.609
97               4       7.163  41.444
98               7       0.309  12.027
99               3       6.335  32.357

In [68]:
dh1 = dh.sample(10).reset_index(drop=True).copy()
print(dh)
print()
dh2 = dh.sample(10).reset_index(drop=True).copy()
print(dh2)

    number_courses  time_study   Marks
0                3       4.508  19.202
1                4       0.096   7.734
2                4       3.133  13.811
3                6       7.909  53.018
4                8       7.811  55.299
..             ...         ...     ...
95               6       3.561  19.128
96               3       0.301   5.609
97               4       7.163  41.444
98               7       0.309  12.027
99               3       6.335  32.357

[100 rows x 3 columns]

   number_courses  time_study   Marks
0               6       7.775  51.142
1               4       4.410  20.348
2               3       7.353  42.036
3               7       4.067  23.149
4               8       6.471  42.426
5               4       3.133  13.811
6               4       3.635  16.517
7               6       2.754  15.725
8               4       0.140   7.336
9               7       7.649  51.583

In [69]:
nc1 = dh1['number_courses'].mean()
ts1 = dh1['time_study'].mean()
m1 = dh1['Marks'].mean()
print()
snc1 = dh1['number_courses'].std()
sts1 = dh1['time_study'].std()
sm1 = dh1['Marks'].std()

In [70]:
nc2 = dh2['number_courses'].mean()
ts2 = dh2['time_study'].mean()
m2 = dh2['Marks'].mean()
print()
snc2 = dh2['number_courses'].std()
sts2 = dh2['time_study'].std()
sm2 = dh2['Marks'].std()

In [71]:
df = pd.read_csv('Student_Marks.csv')
nc = df['number_courses'].mean()
ts = df['time_study'].mean()
m = df['Marks'].mean()
print()
snc = df['number_courses'].std()
sts = df['time_study'].std()
sm = df['Marks'].std()

In [72]:
sample_1 = [nc1,ts1,m1]
sample_2= [nc2,ts2,m2]

In [73]:
population = [nc,ts,m]
population_s = [snc,sts,sm]

In [78]:
z_score_1 = []
for i in range(3):
    a= (sample_1[i]-population[i])/(population_s[i]/math.sqrt(10))
    z_score_1.append(a)

In [79]:
z_score_2 = []
for i in range(3):
    a= (sample_2[i]-population[i])/(population_s[i]/math.sqrt(10))
    z_score_2.append(a)

In [80]:
print(z_score_1)
print()
print(z_score_2)

[-0.6853417963575668, 1.3475281803464265, 1.3856813281067983]

[0.017572866573270583, 0.8816317328513601, 0.8806421685049198]

In [81]:
import scipy.stats as stats

In [82]:
alpha = 0.05
z_critical = stats.norm.ppf(1-alpha)

In [83]:
print('Critical Z-Score :',z_critical)

Critical Z-Score : 1.6448536269514722

In [84]:
for i in range(3):
    if z_score_1[i] >  z_critical:
        print("Reject Null Hypothesis")
    else:
        print("Fail to Reject Null Hypothesis")

Fail to Reject Null Hypothesis
Fail to Reject Null Hypothesis
Fail to Reject Null Hypothesis

In [85]:
for i in range(3):
    if z_score_2[i] >  z_critical:
        print("Reject Null Hypothesis")
    else:
        print("Fail to Reject Null Hypothesis")

Fail to Reject Null Hypothesis
Fail to Reject Null Hypothesis
Fail to Reject Null Hypothesis

In [92]:
p_value_1 = []
for i in range(3):
    a = 1-stats.norm.cdf(z_score_1[i])
    p_value_1.append(a)
print(p_value_1)

[0.7534358685524082, 0.08890509187896622, 0.08292211607529099]

In [93]:
p_value_2 = []
for i in range(3):
    a = 1-stats.norm.cdf(z_score_2[i])
    p_value_2.append(a)
print(p_value_2)

[0.4929898013360732, 0.18898799450312154, 0.18925576361515462]

In [94]:
for i in range(3):    
    if p_value_1[i] <  alpha:
        print("Reject Null Hypothesis")
    else:
        print("Fail to Reject Null Hypothesis")

Fail to Reject Null Hypothesis
Fail to Reject Null Hypothesis
Fail to Reject Null Hypothesis

In [95]:
for i in range(3):    
    if p_value_2[i] <  alpha:
        print("Reject Null Hypothesis")
    else:
        print("Fail to Reject Null Hypothesis")

Fail to Reject Null Hypothesis
Fail to Reject Null Hypothesis
Fail to Reject Null Hypothesis